<!DOCTYPE html>
<html>
  {{> head title=judul}}
<body>
    <div class="main-content">
        {{>header}}
        <section class="card">
            <h1>404 - Halaman Tidak Ditemukan</h1>
            <p>{{pesanKesalahan}}</p>
            <div class="actions">
                <a href="/" class="btn">Kembali ke Beranda</a>
            </div>
        </section>
    </div>
    {{>footer}}
</body>
</html>
